

/* common style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

.container {
    width: calc(100% - 30%);
    margin: 0 auto;
}

.flexibal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

section {
    
}

main {
    background-color: #E5E5E5;
    padding: 20px 0;
}


/****** Header Style *******/

header {
    background-color: #00b7ff;
}

.header-info {
    
}

.logo {
    width: 15%;
    
}

.logo a img {
    width: 80%;
}
nav {
    width: 85%;
    
}

nav img {
}

nav ul {}   
nav ul li {}   
nav ul li a {
    display: inline-block;
    color: white;
    font-size: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    font-weight: 500;
}

nav ul li a:hover {
    background-color: azure;
    color: black;
}


/***** Top Players & Blog section *****/
.players-blog {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    background-color: #ffff;
    padding: 35px;
}

.players-blog h1 {
    color: #562EFF;
}


.player {
    justify-content: flex-start;
    margin-top: 38px;
}

.player img {
    width: 56px;
    margin-right: 16px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
}

hr {
    margin: 30px 0;
}